/* Custom container */

/* Replaced with normal container and standard footer */
/*.container-narrow {
  margin: 0 auto;
  max-width: 700px; }

.container-narrow > hr {
  margin: 30px 0; }
*/

/* Replaced with standard BS3 Navbar */
/*.navbar .nav {
  float: right; }*/

/* top elements */
* { padding: 0; margin: 0; }

body {
	margin: 0; 	
        padding: 0;
	font: normal 1.25em/1.15em Candara, 'Trebuchet MS', Tahoma, sans-serif;
	color: #555;
	text-align: left;
	background: #FFFFFF;	
}

/* links */
a {
	color:#336699; 
	background-color: inherit;
	text-decoration: none;	
}
a:hover {
	background-color: inherit;
	color: #F88F26;
}

/* headers */
h1, h2, h3 {
	font: bold 1.4em Candara, 'Trebuchet MS', Tahoma, sans-serif;
	color: #F88F26;
}
h1 { font-size: 3em; }
h2 { font-size: 2.5em; color:#F88F26; }
h3 { font-size: 1.2em; color:#F88F26; letter-spacing: 0px;}

h1, h2, h3 {
	margin: 0px 0px;
	padding: 0;
}

p {
	margin: 10px 10px;
	padding: 0;
}

ul, ol {
	margin: 30px 10px;
	padding: 0 5px;	
}

/* posts index */
.post > h2.title {
  position: relative;
  padding-top: 10px; 
  color: #F88F26;
}

.post > h2.title span.date {
  position: absolute;
  right: 0;
  font-size: 0.9em; 
  color: #F88F26;
}

.post > .more {
  margin: 0px 0;
  text-align: left; }

/* post-full*/
.post-full .date {
  margin: 0px 0;
  margin-bottom: 10px;
  font-weight: bold; }

/* tag_box */
.tag_box {
  list-style: none;
  margin: 0;
  overflow: hidden; }

.tag_box li {
  line-height: 28px; }

.tag_box li i {
  opacity: 0.9; }

.tag_box.inline li {
  float: left; }

.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color: #555;
  border-radius: 3px;
  text-decoration: none;
  border: 1px dashed #cccccc; }

.tag_box a span {
  vertical-align: super;
  font-size: 0.8em; }

.tag_box a:hover {
  background-color: #e5e5e5; }

.tag_box a.active {
  background: #57A957;
  border: 1px solid #4c964d;
  color: #FFF; }

/* images */
img {
	border: 1px solid #DADADA;
	padding: 5px;
}
img.no-border {
	border: none;
}
img.float-right {
  margin: 5px 0px 5px 15px;  
}
img.float-left {
  margin: 0px 0px 5px 0px;
}

code {
  margin: 5px 0;
  padding: 0px;
  text-align: left;
  overflow: auto;  
  font: 500 1em/1.5em 'Lucida Console', 'courier new', monospace;
  /* white-space: pre; */   
  background: #FCFCF9;
}
acronym {
  cursor: help;
  border-bottom: 1px solid #777;
}
blockquote {
	margin: 15px;
 	padding: 30px 0 0 30px;  	
  	font: bold 1.3em/1.5em 'Trebuchet MS', Sans-serif;   
	background: #FCFCF9;
   border: 1px solid #EFEFEF;
	color: #6C6E3A;
}

/* start - table */
table {
	border-collapse: collapse;
	margin: 0px;	
	margin-top: 10px;	
}
th strong {
	color: #FFF;
}
th {
	background: #882D2D;
	height: 29px;
	padding-left: 12px;
	padding-right: 12px;
	color: #FFF;
	text-align: left;
	border-left: 1px solid #EDC9C9;
	border-bottom: 1px solid #FFF;
}
tr {
        float:left;
	height: 50px;
	background: #FFFFFF;
}
td {
	padding-left: 0px;
	padding-right: 1px;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
/* end - table */

/* form elements */
form {
	margin: 15px;
	padding: 15px 5px;
	border: 1px solid #EFEFEF; 
	background: #F8F8F8;	
}
label {
	display:block;
	font-weight:bold;
	margin:5px 0;
}
input {
	padding: 2px;
	border: 1px solid #EFEFEF;
	font: normal 1em Verdana, 'Trebuchet MS', Tahoma, sans-serif;	
	color: #666666;
}
textarea {
	width: 780px;
	padding:2px;
	border: 1px solid #EFEFEF;
	font: normal 1em Verdana, 'Trebuchet MS', Tahoma, sans-serif;
	height:100px;
	display:block;		
	color: #666666;
}
input.button { 
	margin: 0; 
	font: bold 1em Arial, Sans-serif; 
	border: 1px solid #EFEFEF;
	padding: 2px 3px; 	
	background: #F1F0E4;
}

/* search form */
.searchform {
	background-color: transparent;
	border: none;	
	margin: 0; padding: 5px 0 15px 0;	
	width: 190px;	
}
.searchform p { margin: 0; padding: 0; }
.searchform input.textbox { 
	width: 120px;
	color: #333; 
	height: 18px;
	padding: 2px;	
	vertical-align: top;
}
.searchform input.button { 
	font: bold 12px Arial, Sans-serif; 
	color: #333;	
	width: 60px;
	height: 26px;
	border: none;
	padding: 3px 5px;	
	vertical-align: top;
}

/***********************
	  LAYOUT
************************/

#header-content, #footer-content, #content {
	width: 810px;		
}
#header-wrap, #footer-wrap, #content-wrap {
	min-width: 810px;	
}

/* header */
#header-wrap {
	height: 190px;
	text-align: left;	
	background: #FFF 0 0;			
}
#header-content {
	position: relative;
	margin: 0 auto; 
	padding: 0;
}
#header-content #logo {
	position: absolute;	
	font: normal 40px/65px Candara, 'Trebuchet MS', Tahoma, sans-serif;
	letter-spacing: 0px; 
	color: #FFF;
	border: 1px solid #4E460F;
	height: 65px;
	padding: 0 10px;
	margin: 0;
	
	/* change the values of left and top to adjust the position of the logo */
	top: 18px; left: 0px;
}
#header-content #logo a {
	text-decoration: none;
	color: #FFF;
	background: transparent;
}
#header-content #slogan {
	position: absolute;	
	font: normal 12px 'Trebuchet MS', Tahoma, sans-serif;
	letter-spacing: 0px;
	color: #BBB;	 
	margin: 0; padding: 0;
	
	/* change the values of left and top to adjust the position of the slogan */
	top: 88px; left: 30px;
}

/* header menu */
#header-content ul {
	position: absolute;
	right: 0px; top: 170px; 
	font: bold 14px Candara, 'Trebuchet MS', Tahoma, sans-serif;
        font-size: 1.5em;
	list-style: none;
	margin: 0; padding: 0;		
	text-transform: uppercase;		`
}
#header-content li {
	display: inline;
}
#header-content li a {
	float: left;
	display: block;
	padding: 0px 18px 7px 18px;	
	color: #336699; 
	text-decoration: none;
}
#header-content li a:hover {
	color: #F88F26;
}
#header-content li a#current  {	
	color: #555;	
}
#header-content li a.current  {	
	color: #555;	
}

#header-content #header-links {
	position: absolute;
	top: 5px; right:10px;	
	color: #8E5F2F;
	font-size: 90%;
}
#header-content #header-links P {
	margin: 0; padding: 0;
}
#header-content #header-links a {	
	color: #A4A4A4;
	text-decoration: none;
}
#header-content #header-links a:hover {
	color: #336699;
}

/* content */
#content-wrap {
	clear: both;
	background: #FFF #FFF;
	float: left;		
	width: 100%;
}
#content {
	text-align: left;	
	margin: 0px auto;
        margin-left: 0px;
	padding: 0;	
}

#content h1 {
	font: normal 1.4em Georgia, "Times New Roman", Times, serif;
	color: ##F88F26;
}


/* main */
#main1 {
	margin: 0 20px 10px 0; 
	padding: 0;		
	width: 800px;
	float: left;	
}
#main1 h1 { 
	font: normal 1.6em Georgia, "Times New Roman", Times, serif;
	color: #F88F26; 	
	padding: 0 0 0px 0;
	margin: 0px 0px 0px 0px;
	margin-left: 10px;
	background: url(../images/bk_dotted.gif) repeat-x left bottom;
}
#main1 li { 
	font: normal 1em Candara, 'Trebuchet MS', Tahoma, sans-serif;
	padding: 0 0 0px 0;
}
#main1 li a { 
	font: normal 1em Candara, 'Trebuchet MS', Tahoma, sans-serif;
	color: #336699;
	margin-left: 0px;
}
#main1 li a:hover { 
	font: bold 1em Candara, 'Trebuchet MS', Tahoma, sans-serif;
        font-style: italic;
	color: #336699;
}
#main1 h1 a {
	color: #111;
	text-decoration: none;
}
#main1 p, #main h2, #main h3, #main blockquote, #main form, #main table {
	margin-left: 0;
}
#main1 form p {
	margin: 15px;
}

/* main visiphilia */
#main {
	margin: 0 20px 10px 0; 
	padding: 0;		
	width: 800px;
	float: left;	
}
#main h1 { 
	font: normal 1.8em Georgia, "Times New Roman", Times, serif;
	color: #F88F26; 	
	padding: 0 0 5px 0;
	margin: 0px 15px 20px 15px;
	margin-left: 0px;
	background: url(../images/bk_dotted.gif) repeat-x left bottom;
}
#main li { 
	font: normal 1.2em Candara, 'Trebuchet MS', Tahoma, sans-serif;
	padding: 0 0 5px 0;
}
#main li a { 
	font: normal 1.2em Candara, 'Trebuchet MS', Tahoma, sans-serif;
        font-weight: 200;
	color: #F88F26;
	margin-left: 10px;
}
#main li a:hover { 
	font: bold 1.2em Candara, 'Trebuchet MS', Tahoma, sans-serif;
        font-style: italic;
	color: #F88F26;
}
#main h1 a {
	color: #111;
	text-decoration: none;
}
#main p, #main h2, #main h3, #main blockquote, #main form, #main table {
	margin-left: 0;
}
#main form p {
	margin: 15px;
}

/* footer */
#footer-wrap {
	position: relative;
	height: 200px;
	clear: both;
	padding: 2.5em 0;
	font: normal .95em 'Trebuchet MS', Tahoma, sans-serif;
	text-align: left;	
	background: url(../images/headerbg.jpg) 0 0;
	color: #336699;
	width: 100%;
	float: left;	
}

#footer-wrap p {
	margin-left: 0;
}
#footer-wrap h2 {
	font: bold 1.6em 'Trebuchet MS', Tahoma, sans-serif;
	text-transform: uppercase;
	letter-spacing: 0px;
	color: #CC9933;
	margin-left: 5px;
}
#footer-content {	
	margin: 0 auto;		
}
#footer-content a {
	color: #336699;
}
#footer-content a:hover {
	color: #FFF;
	text-decoration: none;
}
#footer-content ul {
	list-style: none;
	margin: 0; padding: 0;	
	width: 98%;
}
#footer-content ul.columns li {
	border-bottom: 1px dashed #272727;	
}
#footer-content ul.columns li.top {
	border-top: 1px dashed #272727;	
}
#footer-content ul.columns li a {
	display: block;
	font-weight: normal;
	padding: 5px;
	width: 98%;
	color: #336699D;
}
#footer-content ul.columns li a:hover {
	background: #202020;
	color: #FFF;
	text-decoration: none;
}
#footer-content .col {
	width: 360px;
	padding: 0 0 30px 0;			
}
#footer-content .space-sep {
	margin-right: 20px;
}
#footer-content .col2 {
	width: 350px;
        margin-top: 95px;
        margin-left: 100px;
	padding: 0 0 30px 0;
        color: #FFFFCC;
}
#footer-content .col2 a {
        color: #FFFFCC;
}

/* alignment classes */
.float-left  { float: left; }
.float-right { float: right; }
.align-left  {	text-align: left; }
.align-right {	text-align: right; }

/* additional classes */
.clear { clear: both; }
.orange { color: #F3A251; }

.post-footer {
	font-size: 95%;
	border: 1px solid #EFEFEF; 
	background: #F8F8F8; 
	padding: 8px 10px;
	margin: 30px 15px 10px 15px;
}
.post-footer .date {
	background: url(../images/'clock.gif') no-repeat left center; 
	padding-left: 20px; margin: 0 10px 0 5px;	
}
.post-footer .comments {
	background: url(../images/'comment.gif') no-repeat left center; 
	padding-left: 20px; margin: 0 10px 0 5px;	
}
.post-footer .readmore {
	background: url(../images/'page.gif') no-repeat left center;
	padding-left: 20px; margin: 0 10px 0 5px;	
}

/*added css*/
.archive{
	color:#CB4721; 
	background-color: inherit;
	text-decoration: none;
}

.archive:hover{
	
	cursor: pointer;
}

.form_status{
	color: red;
	font-style: italic;
}
.thumbs{
	border-bottom:1px solid #F2F2F2;
}

.thumbs img{
	width: 100px;
}

.thumbs img:hover{
	background-color: #C0C0C0;
}

.error{
	color: red;
}

.container {
width:800px;
margin:0 auto;
position:relative;
}

#leftbox {
float:left;
width:0px;
}

#rightbox {
margin-top: 10px;
float:right;
width:800px;
}

/* Clearing fix */
.clearfix:after{clear:both;content:".";display:block;height:0;visibility:hidden;}

.knitr.r {
  background-color: #f7f7f7;
  /*border:solid 1px #B0B0B0;*/
  font-size: 1.1em
}

.knitr.inline {
  background-color: #f7f7f7;
  /*border:solid 1px #B0B0B0;*/
  font-size: 1.1em
}
.error {
	font-weight: bold;
	color: #FF0000;
}, 
.warning {
	font-weight: bold;
} 
.message {
	font-style: italic;
} 
.source, .output, .warning, .error, .message {
  padding: 0em 1em;
  border:solid 1px #F7F7F7;
}
.source {
  background-color: #f7f7f7;
}
.rimage.left {
  text-align: left;
}
.rimage.right {
  text-align: right;
}
.rimage.center {
  text-align: center;
}

.source {
  color: #333333;
}
.background {
  color: #F7F7F7;
}

.number {
  color: #000000;
}

.functioncall {
  color: #800054;
  font-weight: bolder;
}

.string {
  color: #9999FF;
}

.keyword {
  font-weight: bolder;
  color: black;
}

.argument {
  color: #B04005;
}

.comment {
  color: #2E9957;
}

.roxygencomment {
  color: #707AB3;
}

.formalargs {
  color: #B04005;
}

.eqformalargs {
  color: #B04005;
}

.assignement {
  font-weight: bolder;
  color: #000000;
}

.package {
  color: #96B525;
}

.slot {
  font-style: italic;
}

.symbol {
  color: #000000;
}

.prompt {
  color: #333333;
}

pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.listing-item,.listing-seperator{list-style-type:none;}
.listing-item a{padding:.2em 1em;}
.listing-item time{color:#999999;}
.listing-seperator{font-weight:bold;}



