/* -------------------------------------------------------
 *
 *     These are my modifications to the xaringanthemer
 *
 * ------------------------------------------------------- */
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

.remark-slide-content {
  font-size: 30px;
}
body {
  font-family: 'Lato';
  font-weight: normal;
  color: #657b83;
}
h1 {
  font-family: 'Lato';
  font-weight: bold;
  color: #285415;
}
h2, h3 {
  font-family: 'Lato';
  font-weight: normal;
  color: #686CA9;
}
a {
  color: #CFA118;
}
.inverse-nopad {
  background-color: #002b36;
  color: #fdf6e3;
  padding: 0;
}
.inverse h1 {
  font-family: 'Lato';
  font-weight: normal;
  color: #EAE49A;
}
.inverse h2 {
  font-family: 'Lato';
  font-weight: normal;
  color: #CFA118;
}
.inverse h3 {
  font-family: 'Lato';
  font-weight: normal;
  color: #BCACDB;
}
li { line-height: 1.85em; }
li p { line-height: 1.25em; }
ul li {
  list-style-type: none;
}
ul li li {
  list-style-type: none;
}
ul li:before {
  content: "\2a";
  font-family: "FontAwesome";
  margin-right: 10px;
  color: #CFA118;
  font-size: 1.4em;
}
ul li li:before {
  content: "\f200";
  font-family: "FontAwesome";
  margin-right: 10px;
  color: #CFA118;
}
.footnote {
  position: absolute;
  bottom: 3em;
  padding-right: 4em;
  font-size: 0.5em;
}
strong{color:#686CA9;}
.remark-slide table thead th { border-bottom: 1px solid #839496; }
th, td { padding: 5px; }
.remark-slide table, td{
  margin: auto;
  border: 0px solid #839496;
}
.remark-slide thead, .remark-slide tfoot, .remark-slide tr:nth-child(even) { background: #EAE49A }
.purple { color: #686CA9; }
.orange { color: #9A6902; }
.blue { color: #72879C; }
.yellow { color: #CFA118; }
.green { color: #568000; }
.white { color: #FFFFFF; }
.large { font-size: 2em; }
.small { font-size: 0.8em; }
.tiny { font-size: 0.6em; }

.left-code {
  color: #777;
  width: 48%;
  height: 92%;
  float: left;
}
.right-plot {
  width: 49%;
  float: right;
  padding-left: 1%;
}

.left-full {
  color: #777;
  width: 48%;
  height: 99%;
  float: left;
  padding: 0;
}

.panelset {
  font-size: 18pt;
   --panel-tab-active-border-color: transparent;
   --panel-tab-inactive-opacity: 0.5;
   --panel-tabs-border-bottom: transparent;
   --panel-tab-font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
}

.panel-tab {
  padding: 10px 10px!important;
}

.panelset .panel-tabs {
  box-shadow: none!important;
}

ul.panel-tabs {
  margin-block-start: 0;
  margin-block-end: 0;
}

li.panel-tab {
  margin: 0;
  font-size: 12pt;
}

.panel-tab {
  min-height: 0!important;
}

.hide-count .remark-slide-number {
  display: none;
}
