@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

ul li {
  list-style-type: none;
}
ul li:before {
  content: "\f080";
  font-size: 28px;
  font-family: "FontAwesome";
  margin-right: 10px;
  color: #D93F00;
}
ul li li:before {
  content: "\f200";
  font-size: 20px;
  font-family: "FontAwesome";
  margin-right: 5px;
  color: #D93F00;
}

.tip{
    padding: 0.35em;
    margin: 0.35em 0;
    padding-left: 10px;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: 15px center;
    background-image: url("blub.png");
    min-height: 50px;
    color: #1f5386;
    background-color: #bed3ec;
    border: dashed 5px #1f5386;
    width: 100%;
    display: table;
    margin: 0 auto;
  }
  
.tip > ul li::before {
  color: #003F7F;
}

ul { text-align:  left; }

