/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin: 0;
	padding: 0;
	background: #FFFFFF url(images/img05.jpg) no-repeat right bottom;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 13px;
	color: #A6A6A6;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	color: #000000;
	padding-right: 20px;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.4em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

a {
	text-decoration: none;
	color: #595959;
}

a:hover {
}

#wrapper {
	width: 980px;
	margin: 0 auto;
	padding: 0;
	background: url(images/img01.png) no-repeat left top;
}

/* Header */

#header {
	clear: both;
	width: 980px;
	height: 200px;
	margin: 0px auto;
	padding: 0px;
}

/* Logo */

#logo {
	margin: 0px auto;
	padding: 20px 0px 0px 0px;
	color: #000000;
}

#logo h1, #logo p {
	text-align: right;
	font-family: Georgia, "Times New Roman", Times, serif;
}

#logo h1 {
	font-size: 64px;
}

#logo span {
	color: #FF3801;
}

#logo p {
	margin: -25px 0px 0px 0px;
	padding: 0px;
	letter-spacing: -1px;
	font-style: italic;
	font-size: 32px;
} 

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #595959;
}

/* Search */

#search {
	float: right;
	width: 280px;
	height: 60px;
	padding: 20px 0px 0px 0px;
	background: #65B23E;
	border-bottom: 4px solid #FFFFFF;
}

#search form {
	height: 41px;
	margin: 0;
	padding: 10px 0 0 20px;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;<
}

#search-text {
	width: 170px;
	padding: 6px 5px 2px 5px;
	border: none;
	background: #FFFFFF;
	text-transform: lowercase;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #5D781D;
}

#search-submit {
	width: 50px;
	height: 22px;
	border: none;
	background: #FF6F26;
	font-weight: bold;
	color: #FFFFFF;
}

/* Menu */

#menu {
	width: 980px;
	height: 80px;
	margin: 0 auto;
	padding: 0;
}

#menu ul {
	float: right;
	margin: 0;
	padding: 30px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
}

#menu a {
	display: block;
	width: 98px;
	height: 37px;
	margin-right: 5px;
	padding: 12px 0px 0px 0px;
	background: url(images/img02.jpg) no-repeat left top;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	border: none;
}

#menu a:hover, #menu .current_page_item a {
	background: url(images/img03.jpg) no-repeat left top;
}

#menu .current_page_item a {
}

/* Page */

#page {
	width: 940px;
	margin: 0 auto;
	padding: 0px 0px 0px 0px;
}

#page-bgtop {
	padding: 20px 0px;
}

#page-bgbtm {
}

/* Content */

#content {
	float: right;
	width: 650px;
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 0px 0px 60px 40px;
	background: url(images/img04.gif) repeat-y left top;
}

.post {
	margin-bottom: 15px;
}

.post-bgtop {
}

.post-bgbtm {
}

.post .title {
	height: 38px;
	margin-bottom: 0px;
	margin-left: 50px;
	padding: -10px 50px 50px 60px;
	letter-spacing: -2px;
	font-size: 46px;
	color: #595959;
}

.post .title a {
	color: #595959;
	border: none;
}

.post .meta {
	margin-bottom: 30px;
	padding: 5px 0px 15px 0px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
}

.post .meta .date {
	float: left;
}

.post .meta .posted {
	float: right;
}

.post .meta a {
}

.post .entry {
	padding: 0px 0px 20px 0px;
	padding-bottom: 20px;
	text-align: justify;
}

.links {
	padding-top: 20px;
	font-size: 12px;
	font-weight: bold;
}

/* Sidebar */

#sidebar {
	float: left;
	width: 220px;
	margin: 0px;
	padding: 00px 0px 0px 0px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
}

#sidebar li ul {
	margin: 10px 10px;
	padding-bottom: 20px;
}

#sidebar li li {
	line-height: 35px;
	margin: 0px 10px;
	border-left: none;
}

#sidebar li li a {
	padding-left: 10px;
	background: url(images/img03.gif) no-repeat left 5px;
	color: #464646;
}

#sidebar li li span {
	display: block;
	margin-top: -20px;
	padding: -10px;
	font-size: 11px;
	font-style: italic;
}

#sidebar h2 {
	height: 38px;
	padding-left: -10px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 2em;
	color: #595959;
}

#sidebar p {
	margin: 0 0px;
	padding: 0px 30px 20px 30px;
	text-align: justify;
}

#sidebar a {
	border: none;
}

#sidebar a:hover {
	text-decoration: underline;
	color: #8A8A8A;
}

/* Calendar */

#calendar {
}

#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}

/* Footer */

#footer {
	height: 100px;
	margin: 0 auto;
	padding: 0px 0 15px 0;
	font-family: Arial, Helvetica, sans-serif;
}

#footer p {
	margin: 0;
	padding-top: 20px;
	line-height: normal;
	font-size: 9px;
	text-transform: uppercase;
	text-align: center;
	color: #A0A0A0;
}

#footer a:hover {
	color: #8A8A8A;
	text-decoration: underline;
}