<!DOCTYPE html>
<html>
	<head>
		<meta name="Description" content="Website of ISU Graphics Working Group." />
		<meta name="Keywords" content="EDA, data mining, data visualization, multivariate analysis, R, Iowa State University" />
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<meta name="Distribution" content="Global" />
		<meta name="Author" content="Di Cook - dicook@iastate.edu" />
		<meta name="Robots" content="index,follow" />		

		<link href="/atom.xml" type="application/atom+xml" rel="alternate" title="Blog ATOM Feed" />
		<link rel="stylesheet" href="{{ page.root }}css/style.css" type="text/css" />
		<link rel="stylesheet" href="{{ page.root }}css/highlight.css" type="text/css" />
                <link rel="stylesheet" href="{{ page.root }}css/icons.css" type="text/css" />
		<link rel="icon" type="image/png" href="{{ page.root }}images/wg-icon.jpg" />
    
    {% if page.extra <> nil  %}
    <link rel="stylesheet" href="{{ page.root }}css/{{ page.extra }}.css" type="text/css" />
    {% endif %}
    
		<title>Graphics Working Group</title>
    
		<script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
		
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-54966289-1', 'auto');
  ga('send', 'pageview');

</script>
	</head>
	
	<body>		
		<!-- header starts here -->
		<div id="header-wrap"><div id="header-content">		
        <img style="border:none;" valign=top allign=left src="images/wg6.jpg">
		  
			<div id="header-links">
				<p>
					<a href="http://www.iastate.edu/" target="_blank">Iowa State University</a> |
					<a href="http://www.stat.iastate.edu/" target="_blank">Department of Statistics</a>	
				</p>		
			</div>
			
			<!-- Menu Tabs -->
			<ul>
				{% for link in site.wg %}
				  {% assign current = nil %}
				  {% if page.url == link.url or page.layout == link.layout or page.post == link.text %}
					{% assign current = 'current' %}
				  {% endif %}
				  <li class="{% if forloop.first %}first{% endif %} {{ current }} {% if forloop.last %}last{% endif %}">
					<a class="{{ current }}" href="{{ link.url }}">{{ link.text }}</a>
				  </li>
				{% endfor %}
			</ul>					
		</div></div>
		
		<!-- content-wrap starts here -->
		<div id="content-wrap"><div id="content">	 
			<div id="main2">		
				<a name="MainBlog"></a>
				{% if page.title %}<h1>{{ page.title }}</h1>{% endif %}
				{{ content }}
			</div>
			
			<div id="sidebar">			
				<ul class="sidemenu">
				<h1>Links to Members Sites</h1>
					<li><a href="http://xycheng.public.iastate.edu/" target="_blank">Xiaoyue Cheng </a></li>
					<li><a href="http://dicook.github.io" target="_blank">Di Cook</a></li>
					<li><a href="http://ndasilva.public.iastate.edu/" target="_blank">Natalia Da Silva</a></li>
					<li><a href=http://www.erichare.net/" target="_blank">Eric Hare</a></li>
					<li><a href="http://hofmann.public.iastate.edu/" target="_blank">Heike Hofmann</a></li>
					<li><a href="http://www.andeekaplan.com/" target="_blank"> Andee Kaplan </a></li>
			        	<li><a href="http://ashum.public.iastate.edu/" target="_blank"> Alex Shum </a></li>
					<li><a href="http://www.public.iastate.edu/~sievert/" target="_blank"> Carson Sievert </a></li>
					<li><a href="http://sctyner.github.io/" target="_blank"> Samantha Tyner </a></li>
				      </ul>
			</div>
		</div></div>
		
		
		
		<!-- footer starts here -->	
		<div id="footer-wrap3"><div id="footer-content">
			<div class="col">
			  <p> <font color="#FFFFFF"> Iowa prairie flowers in August. </font></p>
			  </div>
			<div class="col2 float-right">
				<p>Powered by <a href="https://github.com/mojombo/jekyll">Jekyll</a> on GitHub 
				<br /> &copy; copyright 2014 <strong>Di Cook</strong>
				<br /><a href="http://www.bluewebtemplates.com/" title="Website Templates">Template</a> by <a href="http://www.styleshout.com/">styleshout</a>, and adapted from <a href="http://andeekaplan.com/">Andee Kaplan's style</a>. 
				</p>
			</div>
			<br class="clear" />
		</div></div>

	</body>
  {% if page.extra <> nil  %}
      <script src="http://d3js.org/d3.v3.min.js"></script>
      <script src="{{ page.root }}scripts/{{ page.extra }}.js"></script>
      <script type="text/javascript">
        var myChart = {{ page.extra }}({width: 190, height: 150});
        myChart();  
      </script>
    {% endif %}
</html>
